html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
}

.alert {
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
}

section {
  padding: 10px;
  overflow: auto;
  border-bottom: 1px solid #ddd;
  background: #fff;
  background: -moz-linear-gradient(top,  #eeeeee 62%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62%,#eeeeee), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #eeeeee 62%,#ffffff 100%);
  background: -o-linear-gradient(top,  #eeeeee 62%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #eeeeee 62%,#ffffff 100%);
  background: linear-gradient(to bottom,  #eeeeee 62%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}

.table {
  margin: 0;
  counter-reset: tr;
}



/* Toolbar */

#status {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  line-height: 28px;
  vertical-align: middle;
  color: #999;
  text-shadow: 0 1px 0 #fff;
}

#status.working {
  background: transparent url(img/loader-eee-999.gif) left center no-repeat;
  padding-left: 24px;
}



/* Default table cell styles */

td, th {
  position: relative;
  cursor: text;
  height: 20px;
}

td:hover,
th:hover {
  background-color: #EFF8FC;
}

.table-striped tbody > tr:nth-child(odd) > td:hover {
  background-color: #E7F2F7;
}



/* "rowid" cells along left-hand side */

th:first-child,
td:first-child {
  border-right: 1px solid #ddd;
  width: 18px;
  cursor: pointer;
  text-align: center;
  color: #aaa;
}

th:first-child {
    cursor: auto;
    background: transparent;
    font-weight: normal;
}

tbody td:first-child:before {
    content: counter(tr);
    counter-increment: tr;
}

tbody td:first-child:hover,
tbody td:first-child:hover ~ td {
    background: transparent url(img/slash.png) 50% 50% no-repeat;
    border-top: 1px solid #ff9d9d;
    border-bottom: 1px solid #ff9d9d;
}

tbody td:first-child:hover {
    background-color: #ffb6b6 !important;
    border-right-color: #ff9d9d;
}

tbody td:first-child:hover ~ td {
    background-color: #ffd0d0 !important;
    background-image: none;
}

tbody td:first-child:hover:before {
    content: "";
}

tfoot td:first-child {
  font-weight: bold;
}

tfoot td,
tfoot td:hover {
  cursor: pointer;
  color: #aaa;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
}

tfoot tr:hover td {
  background-color: #c8f6c8;
  border-color: #9ACE9A;
}

tfoot tr:hover td:first-child {
  background-color: #acf0ac;
  color: #3d8c3d;
}


/* Editing cells */

td.editing,
th.editing {
  padding: 0;
}

td textarea,
th textarea {
  /* make sure textarea is drawn above any bounding cells' borders */
  position: relative;
  z-index: 10;
  /* make textarea fill the entire parent cell's width and height */
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  padding: 8px;
  margin: -1px;
  /* remove special textarea scrollbars and resizing widgets */
  overflow: hidden;
  resize: none;
  /* reset all other styling so textarea matches parent */
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}



