html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
}

.alert {
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
}

section {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  background: -moz-linear-gradient(top,  #eeeeee 62%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62%,#eeeeee), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #eeeeee 62%,#ffffff 100%);
  background: -o-linear-gradient(top,  #eeeeee 62%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #eeeeee 62%,#ffffff 100%);
  background: linear-gradient(to bottom,  #eeeeee 62%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}

.btn img {
  vertical-align: -3px;
  margin-right: 3px;
}

.table {
  margin: 0;
  border-bottom: 1px solid #ddd;
}

td {
  cursor: text;
  height: 20px;
}

td:hover {
  background-color: #EFF8FC;
}

.table-striped tbody > tr:nth-child(odd) > td:hover {
  background-color: #E7F2F7; 
}

td[data-name='rowid'],
th[data-name='rowid'] {
  display: none;
}

td.editing,
th.editing {
  padding: 0;
}

th.editing {
  width: 220px;
}

td input[type="text"],
th input[type="text"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

td.editing input,
th.editing input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  margin: -1px;
  height: auto;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

td.saving,
th.saving {
  cursor: default;
  background: #fff url(img/loader-fff-999.gif) right center no-repeat;
  background-position: right 10px center; /* for modern browsers */
}

.table-striped tbody > tr:nth-child(odd) > td.saving {
  background: #f9f9f9 url(img/loader-f9f9f9-999.gif) right center no-repeat;
  background-position: right 10px center; /* for modern browsers */
}

td.failed {
  background-image: url(img/failed.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-position: right 10px center; /* for modern browsers */
}

td.saved,
th.saved {
  background-image: url(img/saved.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-position: right 10px center; /* for modern browsers */
}

a#new-row {
  display: block;
  text-align: center;
  color: #aaa;
  padding: 10px;
  cursor: pointer;
}

a#new-row:hover {
  color: #888;
}

th.highlighted {
  background-color: #FFD0D0;
  position: relative;
}

td.highlighted {
  background-color: #FCEFEF;
}

.table-striped tbody > tr:nth-child(odd) > td.highlighted {
  background-color: #F7E7E7;
}

th .deleteColumn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 36px;
  cursor: pointer;
  background: transparent url(img/slash.png) center center no-repeat;
}

th.deleting {
  background-image: url(img/loader-fff-a00.gif);
  background-repeat: no-repeat;
  background-position: right center;
  background-position: right 10px center; /* for modern browsers */
}

th.highlighted.deleting {
  background-image: url(img/loader-ffd0d0-a00.gif);
}

th.deleting .deleteColumn {
  display: none;
}

th.placeholder {
  font-weight: normal;
  color: #aaa;
  cursor: pointer;
  text-align: center;
  border-top: 0;
  background: none;
}

th.placeholder:hover {
  color: #888;
  text-decoration: underline;
}